.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.message {
  padding-left: 20px;
}

.private-from {
  color: #A2201A;
}

.private-to {
  color: #2753A2;
}
